*{
	margin:0;
	padding:0;
}

			

h1, h2, h3 {
	display:none;
}



/*-----------------------------------------------formatação das imagens----------------------------------------------------*/		
	


.jogoIcon {
	width:1.2em;
	height:1.2em;
}

			
/*---------------------------------------------------- grid da página ---------------------------------------------------- */

body{
	
    	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    	
	background: linear-gradient(rgb(5, 5, 5), rgb(50, 50, 50));
 	background-repeat: no-repeat;
    	background-attachment: fixed;

	padding: 1em;
	
}

/*------------------------------------------------------ cabecalho ------------------------------------------------------- */

.cabecalho{
	
   	background-color: white;
    	box-shadow: 0 0 1em rgb(100, 100, 100);
    	
    	opacity: 0.9;
	color:black;	
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-gap: 2.5em;
	border: solid 0.3em black;

}

.historicoTexto {
	font-size: 220%;
	padding: 0.5em;
	text-align:center;
}



/*---------------------------------------------------- menus -------------------------------------------------------*/

#menuLeft {
	background-color: #4CAF50;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
	border-right:0.2em solid black;
}

#menuRight {
	background-color: #4CAF50;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
	border-left:0.2em solid black;
}


/*-------  -------------------------------------------------- Tabela do jogo --------------------------------------------------------- */

#tabelaJogo{

	width:35%;
	margin-left: auto;
    	margin-right: auto;
    	margin-top:1%;
	
	border-radius:1em;
	padding:1%;
	height:35em;
	background-color: white;
	color: black;


}

#tabela{

	width:100%;
	height:100%;
	align-content: center;
    	border:solid gray 1em;
    	border-radius:1em;
	text-align:center;
}

.linhaValores{

	background-color:lightgrey;
	font-size:160%;
}	
.caixa:hover{
 background-color: darkgrey;
  transition: background-color .5s;
  cursor: pointer;
}



/*-------  -------------------------------------------------- DIVS --------------------------------------------------------- */
#divInfo{
	font-size: 170%;
	
	text-align:center;
	width:35%;
	margin-left: auto;
    	margin-right: auto;
    	margin-top:3%;
	
	border-radius:1em;
	padding:1%;

	background-color: white;
	color:	green;


}

#divReiniciar{
	font-size: 170%;
	
	text-align:center;
	width:35%;
	margin-left: auto;
    margin-right: auto;
    margin-top:1%;
	border: 0.15em grey solid;
	padding:1%;
	background-color: white;
	color: red;


}
#divReiniciar:hover{
 background-color: #eec8c8;
  transition: background-color .5s;
  cursor: pointer;
}



